<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>这是 LeanEngine 的示例应用</p>
	<p><h2>这是 长孙雨聪--七星上将使用nodejs+leancloud搞的小玩意，great！完美！！就拿来玩玩！！！！<h2></p>
    <p>当前时间：<%= currentTime %></p>
  </body>
</html>
