<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>zhangsunyucong的测试和学习项目</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../public/stylesheets/style.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
      <body>

          <p><h3>只是小何利用nodejs和leancloud做的一个练习和学习的安卓项目</h3></p>
          <p><h3>目前完成：只做了用户登录和注册功能。</h3></p>

          <form enctype="multipart/form-data" method="post" action="http://heyunjian.leanapp.cn/upload">
              <input type="file" name="iconImage">
              <input type="submit" name="submit" value="submit">
          </form>

          <p><h3>安卓端下载地址：</h3><a href="http://zhangsunyucong.github.io/app.apk"><h3>点击下载</h3></a></p>

          <P><h3>下面是安卓端的效果截图</h3></P>

          <p>
          <p><h3>手机号登录页面</h3></p>
          <p><img class="img-responsive"  src="/img/login_by_mobile.png"  alt="手机号登录页面" width="720", height="1080"/></p>
          </p>

          <p>
          <p><h3>手机验证码登录页面</h3></p>
          <p><img class="img-responsive" src="/img/login_by_sms.png"  alt="手机验证码登录页面" width="720", height="1080" /></p>
          </p>

          <p>
          <p><h3>昵称登录页面</h3></p>
          <p><img class="img-responsive" src="/img/login_by_name.png"  alt="昵称登录页面" width="720", height="1080" /></p>
          </p>

          <p>
          <p><h3>手机号注册页面</h3></p>
          <p><img class="img-responsive" src="/img/register_by_mobile.jpg"  alt="手机号注册页面" width="720", height="1080" /></p>
          </p>

          <p>
          <p><h3>用户名注册页面</h3></p>
          <p><img class="img-responsive" src="/img/register_by_name.png"  alt="用户名注册页面" width="720", height="1080"  /></p>
          </p>

          <p><img src="/img/blogger.jpg" width="720", height="1080" /></p>
          <p><img src="/img/blog_list.jpg"  width="720", height="1080" /></p>
          <p><img src="/img/blog_detail.jpg" width="720", height="1080" /></p>
          <p><img src="/img/map.jpg" width="720", height="1080" /></p>
          <p><img src="/img/me.png" width="720", height="1080" /></p>
          <p><img src="/img/my_vitae.jpg" width="720", height="1080" /></p>

          <!--    <p><h3>当前时间：<%= currentTime %></h3></p>-->

          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="../public/js/bootstrap.min.js"></script>
      </body>
</html>
